QuickStartApp_iOS/.DS_Store
QuickStartApp_iOS/HueQuickStartApp-iOS.xcodeproj/project.xcworkspace/xcuserdata/anders.romin.xcuserdatad
QuickStartApp_iOS/HueQuickStartApp-iOS.xcodeproj/xcuserdata/anders.romin.xcuserdatad
